.mantine-Stepper-stepLabel{
  font-weight: 500;
  font-size: 1.3rem;
}
.mantine-Stepper-stepDescription{
  margin-top: 0.1em;
  color: var(--color-murk-text-dark)
}
.mantine-Stepper-separator{
    background-color: var(--color-murk-highlight);
    border-radius: 5px;
    margin: 0em 2em;
}
.mantine-Stepper-step{
    &[data-progress] {
    .mantine-Stepper-stepIcon{
        border-color: var(--color-murk-text);
        border-width: 0.2em;
    }
  }
}

.mantine-Stepper-stepIcon{
    background-color: var(--color-murk-highlight);
    border-radius: 50%;
    color:  var(--color-murk-text);
    border-color: var(--color-murk-foreground);
}

.stepper-container{
    display: flex;
    flex-direction: column;
}

.mantine-Stepper-root{
   height: 100%;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
}

.mantine-Stepper-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
}

.stepper-nav-container{
    display: flex;
    width: 100%;
    margin-top: 2em;
}
.stepper-nav{
    width: 50%;
    position: relative;
    height: 4em;
}
 .back-button{
    position: absolute ;
    left: 0;
    cursor: pointer;
    height: 100%;
} 

 .next-button{
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100%;
} 







